<template>
  <ion-page>
    <ion-content id="ion-padding">
      <div id="content_center">
        <div id="content_app">
            <ion-img src="https://historiakoluszek.pl/gallery/logo.png" alt="Historia Koluszek"></ion-img>
            <ion-button router-link="/lisowice" expand="block">Start</ion-button>
        </div>
      </div>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
  import { IonPage, IonContent, IonButton, IonImg } from '@ionic/vue';
  import { defineComponent } from 'vue';

  export default defineComponent({
    components: { IonPage, IonContent, IonButton, IonImg },
  });
</script>

<style scoped>
#content_center {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    background-image: url(https://historiakoluszek.pl/images/slide/slide_2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
#content_center::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 50%);
    z-index: 3;
}
#content_app {
    position: relative;
    width: 100%;
    max-width: 330px;
    padding: 20px 25px;
    background-color: rgb(255 255 255 / 79%);
    z-index: 5;
}
</style>