<template>
  <ion-page>
    <ion-content class="ion-padding">
      <ion-img src="https://historiakoluszek.pl/images/czytelnia/dzieje_przed_1914/historia_palacu_w_lisowicach/galeria/palac_w_lisowicach_5.jpg" alt="Lisowice"></ion-img>
      <p>Najpiękniejszym i zarazem jednym z najbardziej zadbanych stojącym w naszej gminie z całą pewnością jest Pałac w Lisowicach. Obecnie mieści się w nim Dom Pomocy Społecznej otoczony starym angielskim parkiem. Tuż obok rozpoczyna się inwestycja, która ma stworzyć tutaj miejsce wypoczynku rekreacji. My tradycyjnie stawiamy pytanie – jaką to wszystko ma historię?</p>
      <iframe width="100%" height="200" src="https://www.youtube.com/embed/tzuCiomJZf4?si=FaHvOCBmCwTCZ-87" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p>Wieś Lisowice stanowiła aż do roku 1873 część znacznych dóbr będących przez długi czas własnością rodziny Libiszewskich. Z ogłoszeń w Gazecie Warszawskiej oraz z komunikatów z Dzienników Urzędowych Królestwa Polskiego dowiadujemy się, że Lisowice były często wystawiane w dzierżawę. Wówczas dobra te przeszły w posiadanie Mateusza Dobieckiego, który wystawił w Lisowicach pałac, założył park, poszerzył i pogłębił stawy na rzece Mrodze. Późniejsi właściciele: Wasiutyński, marszałek Jaroszyński i starozakonny Kuśmierak nie przykładając większej uwagi do utrzymania majątku w należytym porządku doprowadzili do jego pod upadku.</p>
      <p>W 1873 roku dobra Lisowice kupił Otton Pietraszewski, który dostrzegł potencjał tego miejsca i rozpoczął jego modernizację. W 1880 roku wybuchł pożar pałacu, który zniszczył jego znaczną część. Właściciel postanowił przy odbudowie lekko zmodyfikować pałac, uzyskując wygląd widoczny na poniższej rycinie.</p>
    <ion-img src="https://historiakoluszek.pl/images/czytelnia/dzieje_przed_1914/historia_palacu_w_lisowicach/galeria/palac_w_lisowicach_1.jpg" alt="Lisowice"></ion-img>
       <br/>
       <ion-button router-link="/" expand="block">Powrót</ion-button>
    </ion-content>
  </ion-page>
</template>

<script lang="ts">
  import { IonPage, IonContent, IonButton, IonImg } from '@ionic/vue';
  import { defineComponent } from 'vue';

  export default defineComponent({
    components: { IonPage, IonContent, IonButton, IonImg }
  });
</script>

<style>
.ion-padding {
    padding: 10px;
}
</style>